In [1]:
#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year ofrelease) 
#and save it in form of a CSV file.

In [2]:
from urllib.request import urlopen
import requests
from bs4 import BeautifulSoup
import re

In [3]:
page=requests.get('https://www.imdb.com/list/ls091520106/')
bs = BeautifulSoup(page.content,"html.parser")

In [4]:
list_of_titles = []
list_of_years = []
user_ratings = []

In [5]:
name=bs.find_all('h3',class_='lister-item-header')

In [6]:
for i in name:
    title=""
    for j in i.find_all('a'):
        title=title+" "+j.get_text()
        print(title) 
        list_of_titles.append(title)

 The Shawshank Redemption
 The Godfather
 The Godfather: Part II
 The Dark Knight
 12 Angry Men
 Schindler's List
 The Lord of the Rings: The Return of the King
 Pulp Fiction
 Il buono, il brutto, il cattivo
 Fight Club
 Joker
 The Lord of the Rings: The Fellowship of the Ring
 Forrest Gump
 Inception
 Star Wars: Episode V - The Empire Strikes Back
 The Lord of the Rings: The Two Towers
 The Matrix
 One Flew Over the Cuckoo's Nest
 Goodfellas
 Shichinin no samurai
 Se7en
 Cidade de Deus
 La vita è bella
 The Silence of the Lambs
 Star Wars
 It's a Wonderful Life
 Saving Private Ryan
 Sen to Chihiro no kamikakushi
 The Green Mile
 Léon
 Seppuku
 Interstellar
 The Usual Suspects
 The Lion King
 American History X
 Back to the Future
 The Pianist
 Modern Times
 Terminator 2: Judgment Day
 The Intouchables
 Psycho
 Gladiator
 City Lights
 The Departed
 Whiplash
 Once Upon a Time in the West
 The Prestige
 Avengers: Endgame
 Casablanca
 Hotaru no haka
 Rear Window
 Nuovo Cinema Paradiso
 Alien
 Raiders of the Lost Ark
 Memento
 Apocalypse Now
 The Great Dictator
 The Lives of Others
 Avengers: Infinity War
 Django Unchained
 Spider-Man: Into the Spider-Verse
 The Shining
 Paths of Glory
 WALL·E
 Sunset Blvd.
 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
 Mononoke-hime
 Oldeuboi
 Witness for the Prosecution
 The Dark Knight Rises
 Once Upon a Time in America
 Gisaengchung
 Aliens
 American Beauty
 Coco
 Kimi no na wa.
 Braveheart
 Das Boot
 3 Idiots
 Taare Zameen Par
 Star Wars: Episode VI - Return of the Jedi
 Toy Story
 Reservoir Dogs
 Amadeus
 Dangal
 Good Will Hunting
 Inglourious Basterds
 M - Eine Stadt sucht einen Mörder
 Requiem for a Dream
 2001: A Space Odyssey
 Vertigo
 Eternal Sunshine of the Spotless Mind
 Citizen Kane
 Full Metal Jacket
 Jagten
 North by Northwest
 A Clockwork Orange
 Snatch
 Amélie
 The Kid

In [7]:
ratings=bs.find_all('span',class_='ipl-rating-star__rating')

In [8]:
for i in ratings: #22
    user_ratings.append(i.text)

In [13]:
lst=[]
for i in user_ratings[0:2300:23]:
    lst.append(i)
    
print(lst)

['9.3', '9.2', '9', '9', '9', '8.9', '8.9', '8.9', '8.8', '8.8', '8.5', '8.8', '8.8', '8.8', '8.7', '8.7', '8.7', '8.7', '8.7', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.5', '8.6', '8.6', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.4', '8.5', '8.5', '8.4', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.6', '8.3', '8.3', '8.4', '8.4', '8.3', '8.3', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3']

100

In [14]:
year=bs.find_all('span',class_='lister-item-year text-muted unbold')

In [15]:
for i in year: #22
    list_of_years.append(i.text)

In [16]:
import pandas as pd
top=pd.DataFrame({})
top['Title']=list_of_titles
top['Raiting']=lst
top['Year']=list_of_years
top

                        Title Raiting    Year
0    The Shawshank Redemption     9.3  (1994)
1               The Godfather     9.2  (1972)
2      The Godfather: Part II       9  (1974)
3             The Dark Knight       9  (2008)
4                12 Angry Men       9  (1957)
..                        ...     ...     ...
95         North by Northwest     8.3  (1959)
96         A Clockwork Orange     8.3  (1971)
97                     Snatch     8.3  (2000)
98                     Amélie     8.3  (2001)
99                    The Kid     8.3  (1921)

[100 rows x 3 columns]

In [17]:
top.to_csv("TopWorldMovies.csv")