In [1]:
from urllib.request import urlopen
import requests
from bs4 import BeautifulSoup
import re

In [2]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
bs = BeautifulSoup(page.content,"html.parser")

In [3]:
Team=[]
Matches=[]
Point=[]
Raiting=[]

In [4]:
name=bs.find_all('span',class_='u-hide-phablet')
for i in name:
    Team.append(i.get_text())

In [5]:
print(Team)

['England', 'India', 'New Zealand', 'Australia', 'South Africa', 'Pakistan', 'Bangladesh', 'Sri Lanka', 'West Indies', 'Afghanistan', 'Ireland', 'Netherlands', 'Zimbabwe', 'Oman', 'Scotland', 'UAE', 'Nepal', 'Namibia', 'United States', 'Papua New Guinea', '', '', '', '', '']

In [6]:
Mat=bs.find_all('td',class_='table-body__cell u-center-text')
for i in Mat:
    Matches.append(i.get_text())
print(Matches)

['52', '6,102', '32', '3,716', '39', '4,344', '31', '3,345', '35', '3,490', '37', '3,366', '39', '3,297', '46', '3,402', '31', '1,844', '29', '1,316', '5', '222', '27', '1,121', '12', '479', '16', '419', '17', '360', '9', '161', '9', '152', '14', '185', '14', '0']

In [7]:
lst=[]
lst_2=[]
lst=Matches[0:30:2]
lst_2=Matches[1:30:2]
lst.insert(0,'44')
lst_2.insert(0,'5,405')

In [8]:
rate=bs.find_all('td',class_='table-body__cell u-text-right rating')
for i in rate:
    Raiting.append(i.get_text())
Raiting.insert(0, '123')
print(Raiting)

['123', '117', '116', '111', '108', '100', '91', '85', '74', '59', '45', '44', '42', '40', '26', '21', '18', '17', '13', '0']

In [9]:
Matches=lst
Point=lst_2

In [10]:
import pandas as pd
Ranking=pd.DataFrame({})
Ranking['Team']=Team[:10]
Ranking['Matches']=Matches[:10]
Ranking['Point']=Point[:10]
Ranking['Raiting']=Raiting[:10]
Ranking

           Team Matches  Point Raiting
0       England      44  5,405     123
1         India      52  6,102     117
2   New Zealand      32  3,716     116
3     Australia      39  4,344     111
4  South Africa      31  3,345     108
5      Pakistan      35  3,490     100
6    Bangladesh      37  3,366      91
7     Sri Lanka      39  3,297      85
8   West Indies      46  3,402      74
9   Afghanistan      31  1,844      59