In [1]:
from urllib.request import urlopen
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd

In [2]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
bs = BeautifulSoup(page.content,"html.parser")

In [3]:
Name=[]
Team=[]
Rank=[]
Rating=[]

In [4]:
rank=bs.find_all('td',class_='table-body__cell table-body__cell--position u-text-right')
for j in rank:
    Rank.append(j.text)
Ranking=pd.DataFrame({})
Ranking['Rank']=np.arange(1,11)

In [5]:
lst=[]
top=bs.find_all('div',class_='rankings-block__banner--name')
for j in top:
    lst.append(j.text)
    
name=bs.find_all('td',class_='table-body__cell name')
for i in name:
    title=""
    for j in i.find_all('a'):
        title=title+" "+j.get_text()
        print(title)
        Name.append(title)

 Rohit Sharma
 Babar Azam
 Ross Taylor
 Aaron Finch
 Francois du Plessis
 David Warner
 Kane Williamson
 Quinton de Kock
 Jonny Bairstow
 Mujeeb Ur Rahman
 Jasprit Bumrah
 Mehedi Hasan
 Chris Woakes
 Kagiso Rabada
 Josh Hazlewood
 Mustafizur Rahman
 Mohammad Amir
 Pat Cummins
 Mohammad Nabi
 Chris Woakes
 Ben Stokes
 Imad Wasim
 Rashid Khan
 Colin de Grandhomme
 Ravindra Jadeja
 Mitchell Santner
 Sean Williams
 Rohit Sharma
 Babar Azam
 Ross Taylor
 Aaron Finch
 Francois du Plessis
 David Warner
 Kane Williamson
 Quinton de Kock
 Jonny Bairstow
 Mujeeb Ur Rahman
 Jasprit Bumrah
 Mehedi Hasan
 Chris Woakes
 Kagiso Rabada
 Josh Hazlewood
 Mustafizur Rahman
 Mohammad Amir
 Pat Cummins
 Mohammad Nabi
 Chris Woakes
 Ben Stokes
 Imad Wasim
 Rashid Khan
 Colin de Grandhomme
 Ravindra Jadeja
 Mitchell Santner
 Sean Williams

In [6]:
team=bs.find_all('span',class_='table-body__logo-text')
for i in team:
    Team.append(i.get_text())   
Team.insert(0,'IND')
print(Team)

['IND', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG', 'AFG', 'IND', 'BAN', 'ENG', 'SA', 'AUS', 'BAN', 'PAK', 'AUS', 'AFG', 'ENG', 'ENG', 'PAK', 'AFG', 'NZ', 'IND', 'NZ', 'ZIM', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG', 'AFG', 'IND', 'BAN', 'ENG', 'SA', 'AUS', 'BAN', 'PAK', 'AUS', 'AFG', 'ENG', 'ENG', 'PAK', 'AFG', 'NZ', 'IND', 'NZ', 'ZIM']

In [7]:
rate=bs.find_all('td',class_='table-body__cell u-text-right rating')
for i in rate:
    Rating.append(i.get_text())   
Rating.insert(0,'870')
print(Rating)
Name.insert(0,'Virat Kohli')

['870', '842', '837', '818', '791', '790', '773', '765', '755', '754', '708', '700', '694', '675', '665', '660', '658', '647', '646', '294', '281', '276', '271', '270', '265', '253', '251', '238', '842', '837', '818', '791', '790', '773', '765', '755', '754', '708', '700', '694', '675', '665', '660', '658', '647', '646', '294', '281', '276', '271', '270', '265', '253', '251', '238']

In [8]:
Ranking['Name']=Name[:10]
Ranking['Team']=Team[:10]
Ranking['Rating']=Rating[:10]
Ranking

   Rank                  Name Team Rating
0     1           Virat Kohli  IND    870
1     2          Rohit Sharma  IND    842
2     3            Babar Azam  PAK    837
3     4           Ross Taylor   NZ    818
4     5           Aaron Finch  AUS    791
5     6   Francois du Plessis   SA    790
6     7          David Warner  AUS    773
7     8       Kane Williamson   NZ    765
8     9       Quinton de Kock   SA    755
9    10        Jonny Bairstow  ENG    754