In [1]:
from urllib.request import urlopen
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd

In [2]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
bs = BeautifulSoup(page.content,"html.parser")

In [3]:
Rank=[]
Name=[]
Team=[]
Rating=[]

In [4]:
rank=bs.find_all('td',class_='table-body__cell table-body__cell--position u-text-right')
for j in rank:
    Rank.append(j.text)
Ranking=pd.DataFrame({})
Ranking['Rank']=np.arange(1,11)

In [5]:
lst=[]
top=bs.find_all('div',class_='rankings-block__banner--name')
for j in top:
    lst.append(j.text)
    
name=bs.find_all('td',class_='table-body__cell name')
for i in name:
    title=""
    for j in i.find_all('a'):
        title=title+" "+j.get_text()
        print(title)
        Name.append(title)

 Rohit Sharma
 Babar Azam
 Ross Taylor
 Aaron Finch
 Francois du Plessis
 David Warner
 Kane Williamson
 Quinton de Kock
 Jonny Bairstow
 Mujeeb Ur Rahman
 Jasprit Bumrah
 Mehedi Hasan
 Chris Woakes
 Kagiso Rabada
 Josh Hazlewood
 Mustafizur Rahman
 Mohammad Amir
 Pat Cummins
 Mohammad Nabi
 Chris Woakes
 Ben Stokes
 Imad Wasim
 Rashid Khan
 Colin de Grandhomme
 Ravindra Jadeja
 Mitchell Santner
 Sean Williams
 Rohit Sharma
 Babar Azam
 Ross Taylor
 Aaron Finch
 Francois du Plessis
 David Warner
 Kane Williamson
 Quinton de Kock
 Jonny Bairstow
 Mujeeb Ur Rahman
 Jasprit Bumrah
 Mehedi Hasan
 Chris Woakes
 Kagiso Rabada
 Josh Hazlewood
 Mustafizur Rahman
 Mohammad Amir
 Pat Cummins
 Mohammad Nabi
 Chris Woakes
 Ben Stokes
 Imad Wasim
 Rashid Khan
 Colin de Grandhomme
 Ravindra Jadeja
 Mitchell Santner
 Sean Williams

In [6]:
team=bs.find_all('span',class_='table-body__logo-text')
for i in team:
    Team.append(i.get_text())   
Team.insert(9,'NZ')
print(Team)

['IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG', 'NZ', 'AFG', 'IND', 'BAN', 'ENG', 'SA', 'AUS', 'BAN', 'PAK', 'AUS', 'AFG', 'ENG', 'ENG', 'PAK', 'AFG', 'NZ', 'IND', 'NZ', 'ZIM', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG', 'AFG', 'IND', 'BAN', 'ENG', 'SA', 'AUS', 'BAN', 'PAK', 'AUS', 'AFG', 'ENG', 'ENG', 'PAK', 'AFG', 'NZ', 'IND', 'NZ', 'ZIM']

In [7]:
rate=bs.find_all('td',class_='table-body__cell u-text-right rating')
for i in rate:
    Rating.append(i.get_text())   
Rating.insert(9,'722')
print(Rating)
Name.insert(9,'Trent Boult')

['842', '837', '818', '791', '790', '773', '765', '755', '754', '722', '708', '700', '694', '675', '665', '660', '658', '647', '646', '294', '281', '276', '271', '270', '265', '253', '251', '238', '842', '837', '818', '791', '790', '773', '765', '755', '754', '708', '700', '694', '675', '665', '660', '658', '647', '646', '294', '281', '276', '271', '270', '265', '253', '251', '238']

In [8]:
Ranking['Name']=Name[9:19]
Ranking['Team']=Team[9:19]
Ranking['Rating']=Rating[9:19]
Ranking

   Rank                Name Team Rating
0     1         Trent Boult   NZ    722
1     2    Mujeeb Ur Rahman  AFG    708
2     3      Jasprit Bumrah  IND    700
3     4        Mehedi Hasan  BAN    694
4     5        Chris Woakes  ENG    675
5     6       Kagiso Rabada   SA    665
6     7      Josh Hazlewood  AUS    660
7     8   Mustafizur Rahman  BAN    658
8     9       Mohammad Amir  PAK    647
9    10         Pat Cummins  AUS    646