In [1]:
from urllib.request import urlopen
import requests
from bs4 import BeautifulSoup
import re

In [2]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
bs = BeautifulSoup(page.content,"html.parser")

In [3]:
Team=[]
Matches=[]
Point=[]
Raiting=[]

In [4]:
name=bs.find_all('span',class_='u-hide-phablet')
for i in name:
    Team.append(i.get_text())
print(Team)

['Australia', 'India', 'England', 'South Africa', 'New Zealand', 'West Indies', 'Pakistan', 'Bangladesh', 'Sri Lanka', 'Ireland', '', '', '', '', '']

In [5]:
Mat=bs.find_all('td',class_='table-body__cell u-center-text')
for i in Mat:
    Matches.append(i.get_text())
print(Matches)

['15', '1,812', '14', '1,670', '19', '2,090', '15', '1,384', '12', '1,025', '15', '1,101', '5', '306', '11', '519', '2', '25']

In [6]:
lst=[]
lst_2=[]
lst=Matches[0:30:2]
lst_2=Matches[1:30:2]
lst.insert(0,'15')
lst_2.insert(0,'2,436')

In [7]:
rate=bs.find_all('td',class_='table-body__cell u-text-right rating')
for i in rate:
    Raiting.append(i.get_text())
Raiting.insert(0, '162')
print(Raiting)

['162', '121', '119', '110', '92', '85', '73', '61', '47', '13']

In [8]:
Matches=lst
Point=lst_2

In [9]:
import pandas as pd
Ranking=pd.DataFrame({})
Ranking['Team']=Team[:10]
Ranking['Matches']=Matches[:10]
Ranking['Point']=Point[:10]
Ranking['Raiting']=Raiting[:10]
Ranking

           Team Matches  Point Raiting
0     Australia      15  2,436     162
1         India      15  1,812     121
2       England      14  1,670     119
3  South Africa      19  2,090     110
4   New Zealand      15  1,384      92
5   West Indies      12  1,025      85
6      Pakistan      15  1,101      73
7    Bangladesh       5    306      61
8     Sri Lanka      11    519      47
9       Ireland       2     25      13