In [1]:
from urllib.request import urlopen
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd

In [2]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
bs = BeautifulSoup(page.content,"html.parser")

In [3]:
Rank=[]
Name=[]
Team=[]
Rating=[]

In [4]:
rank=bs.find_all('td',class_='table-body__cell table-body__cell--position u-text-right')
for j in rank:
    Rank.append(j.text)
Ranking=pd.DataFrame({})
Ranking['Rank']=np.arange(1,11)

In [5]:
lst=[]
top=bs.find_all('div',class_='rankings-block__banner--name')
for j in top:
    lst.append(j.text)
    
name=bs.find_all('td',class_='table-body__cell name')
for i in name:
    title=""
    for j in i.find_all('a'):
        title=title+" "+j.get_text()
        print(title)
        Name.append(title)

 Stafanie Taylor
 Alyssa Healy
 Smriti Mandhana
 Amy Satterthwaite
 Tammy Beaumont
 Laura Wolvaardt
 Ellyse Perry
 Mithali Raj
 Lizelle Lee
 Megan Schutt
 Marizanne Kapp
 Shabnim Ismail
 Jhulan Goswami
 Poonam Yadav
 Shikha Pandey
 Ellyse Perry
 Anya Shrubsole
 Deepti Sharma
 Stafanie Taylor
 Marizanne Kapp
 Deepti Sharma
 Jess Jonassen
 Dane van Niekerk
 Sophie Devine
 Natalie Sciver
 Shikha Pandey
 Katherine Brunt

In [6]:
team=bs.find_all('span',class_='table-body__logo-text')
for i in team:
    Team.append(i.get_text())   
Team.insert(9,'AUS')
print(Team)

['WI', 'AUS', 'IND', 'NZ', 'ENG', 'SA', 'AUS', 'IND', 'SA', 'AUS', 'AUS', 'SA', 'SA', 'IND', 'IND', 'IND', 'AUS', 'ENG', 'IND', 'WI', 'SA', 'IND', 'AUS', 'SA', 'NZ', 'ENG', 'IND', 'ENG']

In [7]:
rate=bs.find_all('td',class_='table-body__cell u-text-right rating')
for i in rate:
    Rating.append(i.get_text())   
Rating.insert(9,'804')
print(Rating)
Name.insert(9,'Jess Jonassen')

['746', '741', '732', '723', '716', '691', '691', '687', '681', '804', '735', '711', '708', '691', '679', '675', '666', '645', '639', '410', '396', '359', '301', '297', '289', '273', '250', '232']

In [8]:
Ranking['Name']=Name[9:19]
Ranking['Team']=Team[9:19]
Ranking['Rating']=Rating[9:19]
Ranking

   Rank             Name Team Rating
0     1    Jess Jonassen  AUS    804
1     2     Megan Schutt  AUS    735
2     3   Marizanne Kapp   SA    711
3     4   Shabnim Ismail   SA    708
4     5   Jhulan Goswami  IND    691
5     6     Poonam Yadav  IND    679
6     7    Shikha Pandey  IND    675
7     8     Ellyse Perry  AUS    666
8     9   Anya Shrubsole  ENG    645
9    10    Deepti Sharma  IND    639