In [102]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
# Activating the chrome browser
driver = webdriver.Chrome('D:\DataTrained\chromedriver_win32\chromedriver.exe')

In [5]:
#path of wikipedia
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [13]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [14]:
#Rank
rk = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in rk:
    Rank.append(d.text)
#Name
nm = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in nm:
    Name.append(d.text)  
#Artist    
art = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in art:
    Artist.append(d.text)    
#Upload Date
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in dt:
    Upload_date.append(d.text)  
#Views
vw = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in vw:
    Views.append(d.text)

In [17]:
TOP=pd.DataFrame({})
TOP['Rank']=Rank[:30]
TOP['Name']=Name[:30]
TOP['Artist']=Artist[:30]
TOP['Upload_date']=Upload_date[:30]
TOP['Views(Billion)']=Views[:30]
TOP

,Rank,Name,Artist,Upload_date,Views(Billion)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.04
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.23
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.20
3,4.,"""See You Again""[26]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[29]",LooLoo Kids,"October 8, 2016",4.87
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.10
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",3.99
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.72
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.71
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.59
11,12.,"""Sorry""[37]",Justin Bieber,"October 22, 2015",3.41
12,13.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.40
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.29
14,15.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.21
15,16.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.20
16,17.,"""Dame Tu Cosita""[42]",El Chombo,"April 5, 2018",3.14
17,18.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.00
19,20.,"""Lean On""[45]",Major Lazer Official,"March 22, 2015",2.98
20,21.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",2.98
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",2.98
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",2.97
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.92
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.87
25,26.,"""Hello""[51]",Adele,"October 22, 2015",2.79
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.76
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.75
28,29.,"""Blank Space""[54]",Taylor Swift,"November 10, 2014",2.73
29,30.,"""Chantaje""[55]",Shakira,"November 18, 2016",2.63

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [67]:
# Activating the chrome browser
driver = webdriver.Chrome('D:\DataTrained\chromedriver_win32\chromedriver.exe')

In [68]:
#BCCI Home Page path
driver.get(' https://www.bcci.tv/')

In [69]:
lst=[]
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']")]    
for i in urls:
    lst.append(i)
driver.get(lst[0])

In [82]:
#Decleration of empty list
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]
lst=[]

In [83]:
#Match Title
tt = driver.find_elements_by_xpath('//div[@class="fixture__description u-unskewed-text"]/p/strong')
for d in tt:
    Match_title.append(d.text)   
#Place    
pc = driver.find_elements_by_xpath('//div[@class="fixture__description u-unskewed-text"]/p/span')
for d in pc:
    Place.append(d.text)
#Date
ser = driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')
for d in ser:
    Series.append(d.text)
#Time
dt = driver.find_elements_by_xpath('//div[@class="fixture__description u-unskewed-text"]/span')
for d in dt:
    lst.append(d.text)

In [84]:
#Spliting the date and time
for i in range(0,len(lst)):
    x=lst[i].split()
    Time.append(x[3]+" "+x[4])
    Date.append(x[0]+" "+x[1]+" "+x[2])

In [85]:
Schedule=pd.DataFrame({})
Schedule['Match_title']=Match_title[:]
Schedule['Series']=Series[:]
Schedule['Place']=Place[:]
Schedule['Date']=Date[:]
Schedule['Time']=Time[:]
Schedule

,Match_title,Series,Place,Date,Time
0,4th Test,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 4th March,09:30 IST
1,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Friday 12th March,19:00 IST
2,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Sunday 14th March,19:00 IST
3,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Tuesday 16th March,19:00 IST
4,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 18th March,19:00 IST
5,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Saturday 20th March,19:00 IST
6,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23rd March,13:30 IST
7,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Friday 26th March,13:30 IST
8,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Sunday 28th March,13:30 IST
9,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4th August,15:30 IST
10,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12th August,15:30 IST
11,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25th August,15:30 IST
12,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2nd September,15:30 IST
13,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10th September,15:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [86]:
# Activating the chrome browser
driver = webdriver.Chrome('D:\DataTrained\chromedriver_win32\chromedriver.exe')

In [87]:
#BCCI Home Page path
driver.get('https://www.guru99.com/')

In [91]:
dt = driver.find_element_by_xpath('//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]/a')
dt.click()

In [108]:
Name=[]
Description=[]

In [96]:
lst=[]
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//table[@class='table']/tbody/tr/td/a")]    
for i in urls:
    lst.append(i)

In [107]:
for i in range(0,len(lst)):
    if ('exception' in lst[i]):
        x=i    
driver.get(lst[x])

In [109]:
#Name
nm = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for d in nm:
    Name.append(d.text) 
#Description
rk = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for d in rk:
    Description.append(d.text)

In [116]:
Exception=pd.DataFrame()
Exception['Exception name']=Name[:]
Exception['Description']=Description[:]
Exception[1:]

,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [4]:
# Activating the chrome browser
driver = webdriver.Chrome('D:\DataTrained\chromedriver_win32\chromedriver.exe')

In [5]:
#path of wikipedia
driver.get(' http://statisticstimes.com/')

In [46]:
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share=[]
GDP_B=[]

In [6]:
lst=[]
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//div[@class='dropdown-content']/a")]    
for i in urls:
    lst.append(i)

In [9]:
driver.get(lst[4])

In [14]:
lst=[]
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='ec']")]    
for i in urls:
    lst.append(i)

In [19]:
driver.get(lst[13])

In [47]:
#Rank
nm = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[1]')
for d in nm:
    Rank.append(d.text) 
#Description
rk = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[2]')
for d in rk:
    State.append(d.text)
#GSDP19-20
nm = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[3]')
for d in nm:
    GSDP_19_20.append(d.text) 
#GSDP18-19
rk = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[4]')
for d in rk:
    GSDP_18_19.append(d.text)
#Share
nm = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[5]')
for d in nm:
    Share.append(d.text) 
#GDP
rk = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[6]')
for d in rk:
    GDP_B.append(d.text)

In [50]:
print(len(Rank), len(State),len(GSDP_19_20),len(GSDP_18_19),len(Share),len(GDP_B))

66 66 66 66 66 66

In [48]:
gdp=pd.DataFrame({})
gdp['Rank']=Rank[0:]
gdp['State']=State[0:]
gdp['GSDP_19_20']=GSDP_19_20[0:]
gdp['GSDP_18_19']=GSDP_18_19[0:]
gdp['Share']=Share[0:]
gdp['GDP']=GDP_B[0:]
gdp

   Rank                      State GSDP_19_20 GSDP_18_19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.88%  398.145
1     2                 Tamil Nadu  1,845,853  1,630,208   8.59%  246.529
2     3              Uttar Pradesh  1,687,818  1,584,764   8.35%  239.656
3     4                    Gujarat          -  1,502,899   7.92%  227.276
4     5                  Karnataka  1,631,977  1,493,127   7.87%  225.798
..  ...                        ...        ...        ...     ...      ...
61   29                     Sikkim     28,391     25,141   0.15%   17,060
62   30                   Nagaland          -     24,534   0.15%        -
63   31          Arunachal Pradesh          -     22,488   0.13%        -
64   32                    Mizoram     24,424     20,947   0.12%   17,797
65   33  Andaman & Nicobar Islands          -          -       -        -

[66 rows x 6 columns]

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [51]:
# Activating the chrome browser
driver = webdriver.Chrome('D:\DataTrained\chromedriver_win32\chromedriver.exe')

In [52]:
#path of wikipedia
driver.get('https://github.com/')

In [73]:
Repo_title=[]
Repo_desc=[]
Contributors_Count=[]
Language=[]

In [58]:
lst=[]
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")]    
for i in urls:
    lst.append(i)

In [59]:
driver.get(lst[0])

In [74]:
#Repositry_Title
rk = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
for d in rk:
    Repo_title.append(d.text)
#Repositry_Description
rk = driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
for d in rk:
    Repo_desc.append(d.text) 
#Contributor Count
rk = driver.find_elements_by_xpath('//div[@class="f6 color-text-secondary mt-2"]/a[2]')
for d in rk:
    Contributors_Count.append(d.text)    
#Language
rk = driver.find_elements_by_xpath('//div[@class="f6 color-text-secondary mt-2"]/span/span[2]')
for d in rk:
    Language.append(d.text)

In [76]:
Repo=pd.DataFrame({})
Repo['Repo_title']=Repo_title[0:18]
Repo['Repo_desc']=Repo_desc[0:18]
Repo['Contributors_Count']=Contributors_Count[0:18]
Repo['Language']=Language[0:18]
Repo

,Repo_title,Repo_desc,Contributors_Count,Language
0,gskinnerTeam / flutter-folio,"A platform adaptive Flutter app for desktop, m...",158,Dart
1,flutter / flutter,Flutter makes it easy and fast to build beauti...,"16,371",Dart
2,google / googletest,Googletest - Google Testing and Mocking Framework,"7,264",C++
3,muguruzawang / jd_maotai_seckill,优化版本的京东茅台抢购神器,"4,277",Python
4,dolthub / dolt,Dolt – It's Git for Data,87,Go
5,influxdata / influxdb,"Scalable datastore for metrics, events, and re...","2,899",Go
6,aws / aws-sdk-go,AWS SDK for the Go programming language.,"1,642",Go
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,"2,965",JavaScript
8,52CV / CVPR-2021-Papers,Knowledge Resource of core fundamentals of Jav...,20,JavaScript
9,sohamsshah / JavaScriptONLY,"An open source code editor for the web, writte...",58,Ruby
10,adobe / brackets,A curated list of engineering blogs,"6,933",JavaScript
11,kilimchoi / engineering-blogs,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",282,TypeScript
12,microsoft / Web-Dev-For-Beginners,A small app for making quick flowcharts from t...,"2,869",Python
13,tone-row / flowchart-fun,"Scanning APK file for URIs, endpoints & secrets.",44,Dart
14,dwisiswant0 / apkleaks,📡 PoC auto collect from GitHub. ⚠️ Be careful ...,103,JavaScript
15,nomi-sec / PoC-in-GitHub,Power Fx low-code programming language,431,C
16,microsoft / Power-Fx,A collection of Flutter examples and demos.,39,Python
17,flutter / samples,"🕸 No-bullshit answers to the famous h5bp ""Fron...","3,475",JavaScript

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [5]:
# Activating the chrome browser
driver = webdriver.Chrome('D:\DataTrained\chromedriver_win32\chromedriver.exe')

In [6]:
#path of wikipedia
driver.get('https://www.naukri.com/')

In [7]:
#clicking on recruiters link
recruit=driver.find_element_by_xpath("//a[@title='Search Recruiters']")

In [9]:
driver.get(recruit.get_attribute('href'))

In [10]:
#accesing search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [11]:
#search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()

In [21]:
Name=[]
Designition=[]
Company=[]
Skills=[]
Location=[]

In [22]:
#scrapping names
names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
for n in names:
    Name.append(n.text)

#scrapping Designition
design=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
for d in design:
    Designition.append(d.text)

#scrapping Company details
companies=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
for c in companies:
    Company.append(c.text)  
    
#scrapping Skills 
skill=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
for s in skill:
    Skills.append(s.text)
    
#scrapping Location
loc=driver.find_elements_by_xpath("//p[@class='highlightable']/span")
for l in loc:
    Location.append(l.text)

In [23]:
lst=[]
lst=Location[1::2]

In [24]:
Naukari=pd.DataFrame({})
Naukari['Name']=Name[0:48]
Naukari['Designition']=Designition[0:48]
Naukari['Company']=Company[0:48]
Naukari['Skills']=Skills[0:48]
Naukari['Location']=Location[0:48]
Naukari

,Name,Designition,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",HR Manager
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Delhi
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Company Recruiter
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Hyderabad / Secunderabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Recruitment Professional
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Chandigarh
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Company Recruiter
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Ahmedabad
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Company HR
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Pune
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Founder CEO
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",UK - (london)
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Manager- Talent Acquisition
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Delhi
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Recruitment Lead Consultant
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Vadodara / Baroda
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Programme Manager
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Chennai
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",HR Administrator
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Trivandrum
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Director
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Indore
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Human Resource
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Bengaluru / Bangalore
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Executive Hiring
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Hyderabad / Secunderabad
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Company HR
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Company HR
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mumbai
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",HR Executive
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Navi Mumbai
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",HR Manager
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Bhopal
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Manager Talent Acquisition
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Cochin
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",HR Team Lead
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Hyderabad / Secunderabad
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",HR Head
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Delhi
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",HR MANAGER
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",HR Recruiter
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Pune
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Company Recruiter
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Pune
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",HR Recruiter
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Pune

6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [25]:
# Activating the chrome browser
driver = webdriver.Chrome('D:\DataTrained\chromedriver_win32\chromedriver.exe')

In [26]:
driver.get("https://www.billboard.com/")

In [30]:
#clicking charts button
charts=driver.find_element_by_xpath("//a[@class='header__main-link header__main-link--charts']")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))

In [34]:
#clicking the hot 100 songs link
hot_100=driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']")
hot_100

In [36]:
driver.get(hot_100.get_attribute('href'))

In [54]:
Song_Name=[]
Artist_Name=[]
Last_W_Rank=[]
Peek_Rank=[]
Weeks_On_Board=[]

In [55]:
#scraping song names
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in names:
        Song_Name.append(i.text)
except NoSuchElementException:#handling no such element exception
    Song_Name.append('No details Found')

In [56]:
#scraping Artist names
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in names:
        Artist_Name.append(i.text)
except NoSuchElementException:#handling no such element exception
    Artist_Name.append('No details Found')

In [57]:
#scraping lastweekrank
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in ranks:
        Last_W_Rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    Last_W_Rank.append('No details Found')

In [58]:
#scraping peakrank
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in ranks:
        Peek_Rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    Peek_Rank.append('No details Found')

In [59]:
#scraping weeksonchart
try:
    week=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in week:
        Weeks_On_Board.append(i.text)
except NoSuchElementException:#handling no such element exception
    Weeks_On_Board.append('No details Found')

In [60]:
Billboard=pd.DataFrame({})
Billboard['Song_Name']=Song_Name[0:]
Billboard['Artist_Name']=Artist_Name[0:]
Billboard['Last_W_Rank']=Last_W_Rank[0:]
Billboard['Peek_Rank']=Peek_Rank[0:]
Billboard['Weeks_On_Board']=Weeks_On_Board[0:]
Billboard

,Song_Name,Artist_Name,Last_W_Rank,Peek_Rank,Weeks_On_Board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [69]:
# Activating the chrome browser
driver = webdriver.Chrome('D:\DataTrained\chromedriver_win32\chromedriver.exe')

In [70]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [76]:
Book_Name=[]
Author_Name=[]
Volumes_Sold=[]
Publisher=[]
Genre=[]

In [77]:
try:
    name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in name:
        Book_Name.append(i.text)
except NoSuchElementException:#handling no such element exception
    Book_Name.append('Details Not Found')

In [78]:
try:
    name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in name:
        Author_Name.append(i.text)
except NoSuchElementException:#handling no such element exception
    author_name.append('Details Not Found')

In [79]:
try:
    name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in name:
        Volumes_Sold.append(i.text)
except NoSuchElementException:#handling no such element exception
    Volumes_Sold.append('Details Not Found')

In [80]:
try:
    name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in name:
        Publisher.append(i.text)
except NoSuchElementException:#handling no such element exception
    Publisher.append('Details Not Found')

In [81]:
try:
    name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in name:
        Genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    Genre.append('Details Not Found')

In [82]:
Novel=pd.DataFrame({})
Novel['Book_Name']=Book_Name[0:]
Novel['Author_Name']=Author_Name[0:]
Novel['Volumes_Sold']=Volumes_Sold[0:]
Novel['Publisher']=Publisher[0:]
Novel['Genre']=Genre[0:]
Novel

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [83]:
# Activating the chrome browser
driver = webdriver.Chrome('D:\DataTrained\chromedriver_win32\chromedriver.exe')

In [84]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [92]:
Name=[]
Year_Span=[]
Genre=[]
Run_Time=[]
Ratings=[]
Votes=[]

In [93]:
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        Name.append(i.text)
except NosuchElementException:#handling exception
    name.append('Details Not Found')

In [94]:
try:
    span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in span:
        Year_Span.append(i.text)
except NosuchElementException:#handling  exception
    Year_Span.append('Details Not Found')

In [95]:
try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        Genre.append(i.text)
except NoSuchElementException:#handling exception
    Genre.append('Details Not Found')

In [96]:
try:
    run=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in run:
        Run_Time.append(i.text)
except NoSuchElementException:#handling exception
    Run_Time.append('Details Not Found')

In [97]:
try:
    rate=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in rate:
        Ratings.append(i.text)
except NoSuchElementException:#handling exception
    Ratings.append('Details Not Found')

In [98]:
try:
    vote=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in vote:
        Votes.append(i.text)
except NoSuchElementException:#handling exception
    Votes.append('Details Not Found')

In [99]:
IMDB=pd.DataFrame({})
IMDB['Name']=Name[0:]
IMDB['Year_Span']=Year_Span[0:]
IMDB['Genre']=Genre[0:]
IMDB['Run_Time']=Run_Time[0:]
IMDB['Ratings']=Ratings[0:]
IMDB['Votes']=Votes[0:]
IMDB

,Name,Year_Span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,779,427"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,809"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"857,296"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,372"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,920"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,788"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,133"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,402"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,219"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"184,112"

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [100]:
# Activating the chrome browser
driver = webdriver.Chrome('D:\DataTrained\chromedriver_win32\chromedriver.exe')

In [101]:
driver.get('https://archive.ics.uci.edu/')

In [103]:
#clicking View all datasets link
show=driver.find_element_by_xpath("//a[@href='datasets.php']")
show.click()

In [110]:
Name=[]
Type=[]
Task=[]
Attribute=[]
No_Of_Attribute=[]
Year=[]

In [111]:
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:#handling exception
    Name.append('Details Not Found')

In [112]:
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info:
         Type.append(i.text)
except NoSuchElementException:#handling exception
    Type.append("Details Not Found")

In [113]:
try:
    tsk=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in tsk:
         Task.append(i.text)
except NoSuchElementException:#handling exception
    Task.append("Details Not Found")

In [114]:
try:
    atr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in atr:
         Attribute.append(i.text)
except NoSuchElementException:#handling exception
    Attribute.append("Details Not Found")

In [115]:
No_Of_Instance=[]
try:
    inst=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in inst:
         No_Of_Instance.append(i.text)
except NoSuchElementException:#handling exception
    No_Of_Instance.append("Details Not Found")

In [116]:
try:
    inst=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in inst:
         No_Of_Attribute.append(i.text)
except NoSuchElementException:#handling exception
    No_Of_Attribute.append("Details Not Found")

In [117]:
try:
    inst=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in inst:
         Year.append(i.text)
except NoSuchElementException:#handling exception
    Year.append("Details Not Found")

In [118]:
Repo=pd.DataFrame({})
Repo['Name']=Name[0:]
Repo['Type']=Type[1:]
Repo['Task']=Task[1:]
Repo['Attribute']=Attribute[1:]
Repo['No_Of_Instance']=No_Of_Instance[1:]
Repo['No_Of_Attribute']=No_Of_Attribute[1:]
Repo['Year']=Year[1:]
Repo

,Name,Type,Task,Attribute,No_Of_Instance,No_Of_Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020